## Turtle Basics

In [ ]:
import turtle as tu
tu.shape("turtle")
tu.color("blue")
tu.pensize(3)
tu.turtlesize(2)
# help(tu.shape)

## Draw a Square

1.Move turtle forward
2.Rotate by 90 degree 
3.Repeat 1 and 2 three times

In [ ]:
for i in range (4):
    tu.forward(100)
    tu.left(90)

## Draw a Triangle

# Algorithm
### 1. move turtle forward
### 2.rotate by 60 degree
### 3. repeat step 1 and 2 two times

In [ ]:
def triangle(a):
    for i in range(3):
#         tu.right(120)
        tu.forward(a)
        tu.right(-120)

## Triangle Pattern using while loop

In [ ]:
i=10
while(i<300):
    triangle(i)
    i +=50

## Draw a Circle

In [ ]:
# help(tu.circle)
tu.circle(40)

In [ ]:
def radius():
    for i in range(50,200,5):
        tu.circle(i)

In [ ]:
radius()

## Pascal Triangle

In [31]:
def pascal(row):
    for i in range(row):
        for j in range(i):
            print(j+1, end = " ")
        print("\n")

In [32]:
pascal(5)

1

1 2

1 2 3

1 2 3 4

 # Tuples

In [33]:
a=(1,2,"shree")
a

(1, 2, 'shree')

In [47]:
a[0:3]

(1, 2, 'shree')

In [41]:
len(a)

3

# Dictionary

In [1]:
dict1={"name":"monika","place":"badera","age":22}
dict1

{'name': 'monika', 'place': 'badera', 'age': 22}

In [2]:
dict2=dict(name="sanjay",district='nawalparasi')
dict2

{'name': 'sanjay', 'district': 'nawalparasi'}

In [3]:
dict1['name']

'monika'

In [7]:
dict1.update({'pnone no':321745})
dict1

{'name': 'monika', 'place': 'badera', 'age': 22, 'pnone no': 321745}

In [8]:
x=dict1.keys()
x

dict_keys(['name', 'place', 'age', 'pnone no'])

In [9]:
y=dict1.values()
y

dict_values(['monika', 'badera', 22, 321745])

In [10]:
dict1.pop('name')

'monika'

In [11]:
dict1

{'place': 'badera', 'age': 22, 'pnone no': 321745}

In [18]:
del dict1["age"]

In [19]:
dict1

{'pnone no': 321745}

# Function