# Turtle graphics

Turtle graphics is a popular way for introducing programming to kids. It was part of the original Logo programming language developed by Wally Feurzig and Seymour Papert in 1966.

Imagine a robotic turtle starting at (0, 0) in the x-y plane. After an import turtle, give it the command turtle.forward(15), and it moves (on-screen!) 15 pixels in the direction it is facing, drawing a line as it moves. Give it the command turtle.right(25), and it rotates in-place 25 degrees clockwise.

## Basic Commands

|Commands|Function|
|:-------|:-------|
|turtle.forward(x)|moves turtle forward by distance x|
|turtle.right(x)|turns turtle right by x degree|
|turtle.left(x)|turns turtle left by x degree|
|turtle.color('x')|change the color of turtle to color x( like red, blue)|
|turtle.pensize(x)|change the thickness of line drawn to x (x is number like 1, 2, 3 etc.)|
|turtle.shape(x)  | shapes can be “arrow”, “turtle”, “circle”, “square”, “triangle”, “classic”.|

In [ ]:
import turtle as sashi

In [ ]:
sashi.shape('turtle') # set the shape of turtle.
sashi.color('blue') # set the color of turtle 
sashi.turtlesize(3) # set the size of turtle
sashi.pensize(5) # set the thickness of line drawn by turtle when it moves
sashi.speed(10) # set the speed of turtle with which it moves on screen.

In [ ]:
sashi.left(45) # turns the turtle left by 45 degree
sashi.forward(200) #moves the turtle forward by 180 unit
sashi.left(180) # turns the turtle left by 180 degree
sashi.forward(200)
sashi.left(90)
sashi.forward(200)
sashi.left(180)
sashi.forward(200)
sashi.right(45)
sashi.forward(150)
sashi.left(180)
sashi.forward(300)

In [ ]:
sashi.bye()

### draw a square  
1) move turtle by 100 unit
2) rotate turtle by 90
3) move turtle by 100 unit
4) rotate turtle by 90
5) move turtle by 100 unit
6) rotate turtle by 90 
7) move turtle by 100

In [ ]:
# Draws a square of length 100
sashi.forward(100)
sashi.left(90)
sashi.forward(100)
sashi.left(90)
sashi.forward(100)
sashi.left(90)
sashi.forward(100)

In [ ]:
#Draws a rectangle of lenght 200 and width 100
sashi.forward(200)
sashi.left(90)
sashi.forward(100)
sashi.left(90)
sashi.forward(200)
sashi.left(90)
sashi.forward(100)

In [ ]:
sashi.bye()

In [ ]:
#Draws a pentagon
sashi.forward(200)
sashi.left(72)
sashi.forward(200)
sashi.left(72)
sashi.forward(200)
sashi.left(72)
sashi.forward(200)
sashi.left(72)
sashi.forward(200)

In [ ]:
#Draws pentagon using for loop:
for i in range(20):
    sashi.forward(200)
    sashi.left(72)

In [ ]:

sashi.forward(350)
sashi.left(144)
sashi.forward(350)
sashi.left(144)
sashi.forward(350)
sashi.left(144)
sashi.forward(350)
sashi.left(144)
sashi.forward(350)
sashi.left(144)

In [ ]:
sashi.reset()

# Control Flow
In the programs we have seen till now, there has always been a series of statements faithfully executed by Python in exact top-down order. What if you wanted to change the flow of how it works? For example, you want the program to take some decisions and do different things depending on different situations, such as printing 'Good Morning' or 'Good Evening' depending on the time of the day?

This is achieved using control flow statements. There are three control flow statements in Python - if, for and while.

## For loop
```for <var> in <iterable>:
    <statement(s)>```

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for item in range(5): #loops the code five times
    print(item)

In [ ]:
for i in range(0,10): # loops the code 10 times but value to i ranges from 0 to 9
    print(i)

In [1]:
for i in range(0,10,2): # loops the code 5 times in step of 2. values of i are 0,2,4,6,8
    print(i)

0
2
4
6
8

# Functions:
Functions are reusable pieces of programs. They allow you to give a name to a block of statements, allowing you to run that block using the specified name anywhere in your program and any number of times. This is known as calling the function. We have already used many built-in functions such as print, input, or range.
We define function of using ```def``` keyword along with a ```identifier``` (i.e the name of the function),followed by a pair of parentheses which may enclose some names of variables, and by the final colon that ends the line. Next follows the intended block of statements that are part of this function. For example, 
```
def [name of the funtion]():
    (block of code)
```

In [ ]:
def drawpentagon():
    sashi.reset()
    for i in range(5):
        sashi.forward(200)
        sashi.left(72)

In [ ]:
#define the function named draw_polygon that takes number of loops as a argument or parameter
def draw_polygon(numberofloops):
    sashi.reset()
    for i in range(numberofloops):
        sashi.forward(200)
        sashi.left(72)

In [ ]:
drawpentagon(5)

In [ ]:
print(a)

In [ ]:
sashi.bye()

# While loop
while loop executes the code untill the given condition(s) is true. It is also called infinite loop.
```while (condition(s)):
    (block of code)```

In [ ]:
name = input('What is your name?')
while name == 'sashi':
    print('I donot like your name. Please! enter another name')
    name = input('What is your name?')

# If, elif and else statement:
The if statement is used to check a condition: if the condition is true, we run a block of statements (called the if-block), else we process another block of statements (called the else-block). The else clause is optional.
```if (condition or conditions):
       (block of code)
else:
       (block of code)```

In [5]:
radius = input('Please enter the radius of circle: ')
if radius.isnumeric() == True:
    print('Area can be calculated.')
    print('Area can be calculated.')
    print('Area can be calculated.')
else:
    print('Area cannot be calculated because the input is not numeric.')

Please enter the radius of circle: 121jlkj
Area cannot be calculated because the input is not numeric.

In [13]:
name=input("Welcome to our party. What is your name?")
age = input('What is your age?')
if int(age) > 18 :
    print("You can enter the party.")
elif int(age) == 18:
    i = input('Do you have driving licence? ')
    if i =='yes':
        print('you can enter now.')
    else:
        print('you are not allowes because you cannot drive.')
else:
    print('You are not allowed.')

Welcome to our party. What is your name?Sashi
What is your age?18
Do you have driving licence? yes
you can enter now.

In [15]:
name=input("Welcome to our party. What is your name?")
age = input('What is your age?')
licence = input('Do you have driving licence? ')
if int(age) > 18 and licence == 'yes':
    print("You can enter the party.")
else:
    print('You are not allowed.')

Welcome to our party. What is your name?Sashi
What is your age?25
Do you have driving licence? no
You are not allowed.

In [48]:
list1 = [1,2,3,'sashi','mango',1.2]

In [49]:
list1

[1, 2, 3, 'sashi', 'mango', 1.2]

In [50]:
list1[0] = 100

In [19]:
list1

[100, 2, 3, 'sashi', 'mango', 1.2]

# Data Structure: Tuple and Dictionary

## 1) What is Tuple?  
> Tuples are ordered collection of heterogenous data.  
  We define tuples as  
  ``` tuple_object = (data1, data2, data3, .... etc)```

### Lets create a tuple  
There are two ways to create tuple:  
1) by creating a sequence of comma seperated datas enclose by braces '()'  
2) using tuple function

In [23]:

a = ('ram','hari','shyam')

In [24]:
a

('ram', 'hari', 'shyam')

In [29]:
b = [1,2,3,4,5]

In [30]:
c = tuple(b)

In [31]:
c

(1, 2, 3, 4, 5)

### Packing and Unpacking of tuple

In [33]:
coordinate =  100,200  # This is called packing
print(coordinate)

(100, 200)

In [34]:
x,y = coordinate  # This is called unpacking
print(x)
print(y)

100
200

### Accesing the items of tuple and slicing

In [43]:
a = (10,20,30,40,50,60,70,80)

In [44]:
a[1]

20

In [47]:
a[2:]

(30, 40, 50, 60, 70, 80)

In [51]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

### Modify nested items of a tuple

In [52]:
tuple2 = ('a','b',[1,2,3])

In [54]:
tuple2[2][0]=500

In [55]:
tuple2

('a', 'b', [500, 2, 3])

## 1) What is dictionary?  
> Dictionaries are unordered collections of unique values stored in (Key-Value) pairs.  
>> For example:  
```     dictionary  =  {'name':'sashi nepal','address':'dhumbojhi','house no':98481, 'ward':1}```
$$\uparrow\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\uparrow$$
$$key\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,value$$  

#### Properties: 1) Unordered  2) Unique  3) Mutable  

### Lets create a dictionary:  
1) by using curly braces '{}' enclosing comma seperated key-value pairs.  Here, key and value is seperated by a colon':'  
2) by using dict function by passing comma-seperated key:value pairs as argument.

In [17]:
dict1 = {'name':'sashi','address':'dhumbojhi','houseno':4654}

In [7]:
dict1

{'name': 'sashi', 'address': 'dhumbojhi', 'houseno': 4654}

In [10]:
dict2 = dict(name='sashi',address='dhumbojhi', houseno=456)

In [11]:
dict2

{'name': 'sashi', 'address': 'dhumbojhi', 'houseno': 456}

In [13]:
dict2 = dict([('name','sashi'),('address','dhumbojhi')])

In [14]:
dict2

{'name': 'sashi', 'address': 'dhumbojhi'}

In [15]:
dict3 = {}

In [16]:
dict3

{}

## Accesing items of dictionary:
You can same way as for list and tuple to access the item of dictionary.  Only difference here is that you pass the key instead of index to get a value.

In [18]:
dict1

{'name': 'sashi', 'address': 'dhumbojhi', 'houseno': 4654}

In [19]:
dict1['name']

'sashi'

In [20]:
dict1['address']

'dhumbojhi'

## Updating and Adding the value of dictionary  
1) Using update() method in which you give key:value pair that you want to update  
2) Using Key-Value assignment.

In [22]:
dict1.update({'phn no':798797})

In [23]:
dict1

{'name': 'sashi', 'address': 'dhumbojhi', 'houseno': 4654, 'phn no': 798797}

In [24]:
dict1.update({'phn no':123456})

In [25]:
dict1

{'name': 'sashi', 'address': 'dhumbojhi', 'houseno': 4654, 'phn no': 123456}

In [26]:
dict1['name'] = 'ram nepal'

In [27]:
dict1

{'name': 'ram nepal',
 'address': 'dhumbojhi',
 'houseno': 4654,
 'phn no': 123456}

## Get all the keys and values of a dictionary:  
You can use  
1) keys() method to get all the keys  
2) values() method to get all the values  
3) items() method to get all the key:value pairs in dictionary. Here, each item will be inside a tuple.

In [30]:
x = dict1.keys()

In [29]:
dict1.values()

dict_values(['ram nepal', 'dhumbojhi', 4654, 123456])

In [31]:
x

dict_keys(['name', 'address', 'houseno', 'phn no'])

In [32]:
dict1.items()

dict_items([('name', 'ram nepal'), ('address', 'dhumbojhi'), ('houseno', 4654), ('phn no', 123456)])

### Removing items in dictionary:

|Method	|Description|
|:--------|:----------|
|pop(key[,d])	|Return and removes the item with the key and return its value. If the key is not found, it raises KeyError.|
|popitem()	|Return and removes the last inserted item from the dictionary. If the dictionary is empty, it raises KeyError.|
|del key	|The del keyword will delete the item with the key that is passed|
|clear()	|Removes all items from the dictionary. Empty the dictionary|
|del dict_name	|Delete the entire dictionary|

In [33]:
dict1.pop('name')

'ram nepal'

In [34]:
dict1

{'address': 'dhumbojhi', 'houseno': 4654, 'phn no': 123456}

In [35]:
del dict1['address']

In [36]:
dict1

{'houseno': 4654, 'phn no': 123456}

In [37]:
dict1.clear()

In [38]:
dict1

{}